.ecology-image {
  display: block;
  background-image: url("../../../../public/images/ecology-image.webp");
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: top center;
}

.mobile-ecology-image {
  height: 15vh;
  background-position: top center;
}

.pdf-link {
  &:hover {
    font-size: 1.2rem;
  }
}