// .Pj7 {
//   img {
//     position: absolute;
//     top: 50%;
//     left: 0;
//     transform: translateY(-50%);  
//   }
// }

.image-wrapper {
  > div {
    > div {
      padding-bottom: 0 !important;
    }
  }
}

.XiG.zI7.iyn.Hsu.MIw {
  padding-bottom: 0 !important;
}

.T3r.MIW.DUt.QLY.p6V.ojN.Rym.jr-.wMk {
  background-color: unset !important;
  background: none !important;
  border: 0 !important;
}