.used-car-wrapper {
  position: relative;

  .title-contact > div {
    position: absolute;
    top: 0;
    right: 0;
    height: 10vh;
    width: 15%;
  }
}

.used-car-wrapper-mobile {
  .title-contact > div {
    width: 40%;
  }
}

.loader-wrapper {
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
  }
}

.title-contact {
  img {
    width: 15vw;
  }
}