div[name="trap-focus"] {
  label,
  > div {
    // font-family: 'Avenir Next Cyr';
  }
  >.QDA {
    &:not(button) {
      padding: 24px 24px 0 !important;
      overflow-y: hidden;
    }
    button {
      // padding-bottom: 24px;
    }
  }
  .JJV {
    overflow-y: hidden !important;
  }
  &:nth-of-type(3) {
    .xuA {
      width: 100% !important;
    }
    &:last-of-type {
      display: none !important;
    }
  }
  h1 {
    // font-family: 'Avenir Next Cyr';
    font-size: 32px;
    text-align: center !important;
  }
  .ujU {
    .xuA {
      // margin: 0 !important;  
      .JME {
        margin-left: 0 !important;
      }
    }
  }
  .QDA.XbT.XiG.fBv.ujU.zI7.iyn.Hsu {
    padding-top: 0;
  }
  .XiG.xuU.zI7.iyn.Hsu {
    &:last-child {
      display: none;
    }
  }
}
