.post {
  .xuA {
    &:first-of-type {
      .lH1.dyH.iFc.H2s.bwj.X8m.zDA.IZT {
        display: flex;
        justify-content: space-between;
      }
      
      svg {
        border-radius: 30px;
        font-size: 12px;
        width: 32px;
        height: 32px;
      }
    }
  }

  .share-button {
    > div {
      cursor: pointer !important;
  
      > div {
        display: block !important;
        min-width: 40px !important;
        width: 40px !important;
        height: 40px !important;
        border-radius: 50px !important;
  
        img {
          height: 25px !important;
          width: 25px !important;
          top: 8px !important;
          left: -5px !important;
        }
      }
    }
  }
}
.news-wrapper {
  img {
    width: 300px;
  }
}