.post {
  .xuA {
    &:first-of-type {
      .lH1.dyH.iFc.H2s.bwj.X8m.zDA.IZT {
        display: flex;
        justify-content: space-between;
      }
      
      svg {
        border-radius: 30px;
        font-size: 12px;
        width: 32px;
        height: 32px;
      }
    }
  }
}