.kia-home-image {
  object-fit: fill;
  border-radius: 100px;
  width: 90%;
  height: 40vh;
  margin: 0 auto;
}

.kia-mobile-logo-image {
  object-fit: cover;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.line-height {
  line-height: 22px;
}