div[name="trap-focus"] {
  .Eqh {
    position: absolute !important;
    top: 0 ;
    right: 0;
  }

  div[aria-label="Edit news"] {
    overflow-x: hidden !important;
  }
}

.QDA.XbT.XiG.fBv.ujU.zI7.iyn.Hsu {
  // overflow: hidden;
}