div[name="trap-focus"] {
  .Eqh {
    position: absolute !important;
    top: 0 ;
    right: 0;
  }

  div[aria-label="Edit news"] {
    overflow-x: hidden !important;
  }
}
// .react-datepicker-popper.MP1 {
//   transform: translate(0, 85px) !important;
// }

.Eqh.xuA {
  button[aria-label="Dismiss banner"] {
    display: none;
  }
}