div[name="trap-focus"] {
  .Eqh {
    position: absolute !important;
    top: -15% !important;
    right: -5% !important;
  }

  div[aria-labels="Edit your Pin details"] {
    overflow-y: hidden !important;
  }
}