.used-car-wrapper {
  position: relative;

  .title-contact > div {
    position: absolute;
    top: 0;
    right: 0;
    height: 10vh;
    width: 15%;
  }
}

.used-car-wrapper-mobile {
  .title-contact > div {
    width: 40%;
  }
} 