.kia-home-image {
  object-fit: fill;
  border-radius: 100px;
  width: 90%;
  height: 40vh;
  margin: 0 auto;
}

.kia-mobile-logo-image {
  object-fit: cover;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.line-height {
  line-height: 22px;
}

.post {
  .jzS.un8.C9i.A6h {
    padding-left: 15px;
  }
  a {
    &:hover {
      transform: scale(1.1);
    }
  }
}

#mybutton {
  display: none;
  position: fixed;
  bottom: 75%;
  right: 30px;
  z-index: 99;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  width: auto;
}

.W6-:hover {
  background-color: none !important;
}

.goToTop-btn {
  position: fixed;
  bottom: 10%;
  right: 10%;
  z-index: 99999;
  display: block;
  border: none;
  background: none;
  background-color: transparent;
  backdrop-filter: blur(1px);
  z-index: 999999;
}

.zI7.iyn.Hsu {
  width: auto;
  
  .iCM.XiG.L4E.wUN {
    width: 100vw;
  }
}

.iCM.XiG.L4E.wUN {
  padding-bottom: 33.25% !important;

  video {
    object-fit: cover !important;
  }
}

.ecology-image {
  display: block;
  background-image: url('../../../../public/images/ecology-image.webp');
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: top center;
}

.mobile-ecology-image {
  height: 30vh;
  background-position: top left;
}

.pdf-link {
  &:hover {
    font-size: 1.2rem;
  }
}

.XiG.zI7.iyn.Hsu {
  justify-content: center;

  .MIw {
    position: static !important;
    margin: 0 auto;
    padding-bottom: 25px;
  }
}

.small-image {
  img {
    width: calc(3 / var(--g-ncols) * 100%) !important;
  }
}