.flex-1 {
  flex: 1;
}

.react-datepicker-popper.MP1 {
  transform: translate(0, 85px) !important;
}

.Eqh.xuA {
  button[aria-label="Dismiss banner"] {
    display: none;
  }
}

div[name="trap-focus"] {
  .XiG.zI7.iyn.Hsu {
    .MIw {
      position: absolute !important;
    }
  }
}

.Jea.KS5.MIw.QLY.ojN.p6V.zI7.iyn.Hsu {
  position: absolute !important;
}

div[aria-label="Add new cars"] {
  .buttons {
    .zI7.iyn.Hsu {
      width: 100%;
    }
  }
}