.ALa {
  position: relative;
}

.contact-wrapper {
  .row:nth-of-type(2) {
    .col-md-6:first-of-type {
      svg {
        position: absolute;
        z-index: 9999;
        top: 33.5%;
        left: 10%;
      }
    }
  }
}

.CDp {
  margin-top: 5px !important;
  padding: 0;
}

.a_A {
  background-color: transparent !important;
  padding: 0;
}

.location {
  div {
    width: 100%;

    &:last-child {
      width: 100%;
      white-space: pre-line !important;
      
      &:first-letter {
        padding-bottom: 10px;
      }
      
      div {
        width: 100%;
      }
    }
  }
}

.ALa.Jea.QDA.XiG.fBv.ho-.imm.jzS.mQ8.ujU.zI7.iyn.Hsu {
  max-width: 100% !important;
}