label[for="time"], label[for="year"] {
  font-size: 12px !important;
  padding-bottom: 5px !important;  
}

.ant-picker {
  border-radius: 12px !important;
  border: 2px solid #cdcdcd !important;
  width: 100%;

  .ant-picker-suffix {
    color: #111111;
  }
}

.error-input {
  border-color: #c00 !important;
}